node_modules/
backend/node_modules/
backend/data/**
extraction.txt
backend/data/frenchcab.db
backend/data/fichier_creation_bdd.sql
backend/data/query.zip
backend/data/query/**
__pycache__/
*.pyc
backend/ML/modele_duree_trajet.joblib
